---
import SitePageLayout from "@ui/layouts/SitePageLayout.astro";
import Container from "@ui/base/Container.astro";
import ContentSurface from "@ui/base/ContentSurface.astro";
import LayoutSurface from "@ui/base/LayoutSurface.astro";
import Link from "@ui/base/Link.astro";
import PortableTextContentBlock from "@ui/base/PortableTextContentBlock.astro";
import SanityImage from "@ui/base/SanityImage.astro";
import Stack from "@ui/base/Stack.astro";
import Typography from "@ui/base/Typography.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import kebabCase from "lodash/kebabCase";

interface Props {
  personData: CollectionEntry<"people">["data"];
}

export async function getStaticPaths() {
  const people = await getCollection(
    "people",
    (x) => x.data.personalStory !== null,
  );

  return people.map((person) => ({
    params: { person: kebabCase(person.data.fullName) },
    props: {
      personData: person.data,
    },
  }));
}

const { personData } = Astro.props;
---

<SitePageLayout>
  <LayoutSurface as="header" variant={"primaryContrast"}>
    <Container paddingX={4} paddingY={4} size={2}>
      <div class="space-y-3 md:gap-6 md:flex md:items-center md:justify-evenly">
        <Stack spacing={1}>
          <Typography as="h1" variant="title-1" colorVariant="primaryContrast">
            {personData.fullName}
          </Typography>
          <Typography variant="title-4" colorVariant="primaryContrast">
            {personData.role}
          </Typography>
          <Typography colorVariant="primaryContrast">
            {
              `Learn more about our ${personData.role}, ${personData.fullName}`
            }
          </Typography>
        </Stack>
        <div class="flex justify-center">
          <ContentSurface
            class:list={["max-w-sm"]}
            paddingX={2}
            paddingY={2}
            variant="featureCard"
          >
            <SanityImage
              useFallback={false}
              aspect="square"
              image={personData.avatar !== null
                ? { image: personData.avatar, altText: "" }
                : null}
            />
          </ContentSurface>
        </div>
      </div>
    </Container>
  </LayoutSurface>
  <LayoutSurface paddingY={6} as="section">
    <Container paddingX={2}>
      {
        personData.shortBio && (
          <PortableTextContentBlock
            textAlign="center"
            portableText={personData.shortBio}
          />
        )
      }
    </Container>
  </LayoutSurface>
  <LayoutSurface paddingY={6} as="section" variantKey={3}>
    <Container paddingX={2}>
      <Typography
        as="h2"
        variant="title-2"
        set:text="My Story"
        marginBottom={3}
      />
      {
        personData.personalStory && (
          <PortableTextContentBlock
            portableText={personData.personalStory}
          />
        )
      }
      <div class="text-center my-6">
        <Link to={`/about/team`}>
          {"Meet the rest of our team, volunteers and other contributors"}
        </Link>
      </div>
    </Container>
  </LayoutSurface>
</SitePageLayout>
