---
import { getCollection, getEntries, getEntry } from "astro:content";
import kebabCase from "lodash/kebabCase";

import type { SocialVal } from "@content/model/person";

import type { IconKey } from "@ui/utils/icon";

import PageHeaderLayout from "@ui/layouts/PageHeaderLayout.astro";
import SitePageLayout from "@ui/layouts/SitePageLayout.astro";

import Container from "@ui/base/Container.astro";
import ContentSurface from "@ui/base/ContentSurface.astro";
import Icon from "@ui/base/Icon.astro";
import LayoutSurface from "@ui/base/LayoutSurface.astro";
import Link from "@ui/base/Link.astro";
import PortableTextContentBlock from "@ui/base/PortableTextContentBlock.astro";
import SanityImageComp from "@ui/base/SanityImage.astro";
import Spacer from "@ui/base/Spacer.astro";
import Stack from "@ui/base/Stack.astro";
import Typography from "@ui/base/Typography.astro";

import ContentBlockRenderer from "@ui/composite/content-linked/content-block/ContentBlockRenderer.astro";

const aboutContentGroup = await getCollection(
  "contentGroups",
  (col) => col.data.slug === "about",
);
if (aboutContentGroup.length === 0) {
  throw new Error("Could not get content group for about page");
}

const team = await getEntry(
  "personGroups",
  "97b9fbc2-3085-459f-8af8-38670b97d08c",
);
if (!team) {
  throw new Error("Could not get 'core team' for about page");
}

const teamMembers = await getEntries(
  team.data.members.map((x) => ({ collection: x.collection, id: x.id })),
);
if (!team) {
  throw new Error("Could not get 'core team members' for about page");
}

type SocialConfig = {
  type: SocialVal;
  hrefFn: (val: string) => string;
  icon: IconKey;
  a11yLabel: string;
};
const socialConfigMap: Record<SocialVal, SocialConfig> = {
  linkedIn: {
    type: "linkedIn",
    hrefFn: (val) => val,
    icon: "linkedIn",
    a11yLabel: "Linked In profile",
  },
  email: {
    type: "email",
    hrefFn: (val) => `mailto:${val}`,
    icon: "envelope",
    a11yLabel: "Email",
  },
};

const contentGroupData = aboutContentGroup[0].data;
---

<SitePageLayout>
  <PageHeaderLayout
    surfaceVariant="primaryContrast"
    surfaceVariantKey={1}
    image={contentGroupData.image ?? null}
  >
    <div class="md:h-full md:flex md:items-center">
      <div class="px-8 py-12 md:flex md:items-center md:justify-end md:grow">
        <div class="basis-100">
          <Spacer marginBottom={3}>
            <Typography
              marginBottom={2}
              as="h1"
              variant="title-1"
              colorVariant="primaryContrast"
            >
              {contentGroupData.title}
            </Typography>
          </Spacer>
          <Stack spacing={3}>
            <Typography colorVariant="primaryContrast" variant="title-4">
              {"Explore further:"}
            </Typography>
            <Stack as="ul" spacing={2} marginBottom={4}>
              <li>
                <Link
                  to={`/about/our-story`}
                  label={"Our Story"}
                  colorVariant="primaryContrast"
                />
              </li>
              <li>
                <Link
                  to={`/about/mission-and-values`}
                  label={"Mission and Values"}
                  colorVariant="primaryContrast"
                />
              </li>
              <li>
                <Link
                  to={`/about/team`}
                  label={"The Why Grief Matters Team"}
                  colorVariant="primaryContrast"
                />
              </li>
            </Stack>
          </Stack>
        </div>
      </div>
    </div>
  </PageHeaderLayout>
  <LayoutSurface paddingY={6} as="section" variant="neutral">
    <Container paddingX={2}>
      {
        contentGroupData.contentBlocks.map((block) => (
          <Stack spacing={4}>
            <ContentBlockRenderer textAlign="center" contentBlockRef={block} />
          </Stack>
        ))
      }
    </Container>
  </LayoutSurface>
  <LayoutSurface paddingY={6} as="section" variant="neutral" variantKey={3}>
    <Container paddingX={2}>
      <Typography
        as="h2"
        variant="title-2"
        set:text="Meet the Team"
        marginBottom={3}
      />
      <Stack spacing={2}>
        {
          teamMembers.map((member) => (
            <div class="not-last:border-b pb-6 border-b-line-coolNeutral--default mb-6">
              <div
                class:list={[
                  "space-y-3  md:gap-6",
                  member.data.avatar && "md:grid md:grid-cols-[1fr_2fr]",
                ]}
              >
                {member.data.avatar && (
                  <div class="flex justify-center md:block">
                    <ContentSurface
                      paddingX={2}
                      paddingY={2}
                      variant="featureCard"
                      class:list={["max-w-sm"]}
                    >
                      <SanityImageComp
                        useFallback={false}
                        aspect="square"
                        image={
                          member.data.avatar !== null
                            ? { image: member.data.avatar, altText: "" }
                            : null
                        }
                      />
                    </ContentSurface>
                  </div>
                )}
                <div class="space-y-3">
                  <div>
                    <Typography as="h3" variant="title-3">
                      {member.data.fullName}
                    </Typography>
                    <Typography variant="subtitle-1">
                      {member.data.role}
                    </Typography>
                  </div>
                  {member.data.shortBio && (
                    <PortableTextContentBlock
                      portableText={member.data.shortBio}
                    />
                  )}
                  {member.data.socials && (
                    <div class="flex gap-3">
                      {Object.entries(member.data.socials).map(([key, val]) => {
                        if (!val) {
                          return null;
                        }

                        const socialConfig = socialConfigMap[key as SocialVal];

                        return (
                          <a
                            class="text-onSurface-coolNeutral--muted"
                            href={socialConfig.hrefFn(val)}
                          >
                            <Icon
                              size={3}
                              getIcon={(icons) =>
                                icons[socialConfig.icon as IconKey]
                              }
                            />
                            <span class="sr-only">
                              {socialConfig.a11yLabel}
                            </span>
                          </a>
                        );
                      })}
                    </div>
                  )}
                  {member.data.personalStory && (
                    <Link
                      to={`/about/${kebabCase(member.data.fullName)}`}
                      label="Read More"
                    />
                  )}
                </div>
              </div>
            </div>
          ))
        }
      </Stack>
      <div class="text-center">
        <Link to={`/about/team`}>
          {"Read more about "}
          <strong>{"Our Team, Volunteers"}</strong>
          {" and "}
          <strong>{"Contributors"}</strong>
        </Link>
      </div>
    </Container>
  </LayoutSurface>
</SitePageLayout>
