---
import { getCollection, getEntries, getEntry } from "astro:content";
import kebabCase from "lodash/kebabCase";

import type { SocialVal } from "@content/model/person";

import type { IconKey } from "@ui/utils/icon";

import { paddingBottomMap, marginBottomMap } from "@styles/utils/spacing";

import PageHeaderLayout from "@ui/layouts/PageHeaderLayout.astro";
import Section from "@ui/layouts/Section.astro";
import SitePageLayout from "@ui/layouts/SitePageLayout.astro";

import Icon from "@ui/base/Icon.astro";
import Link from "@ui/base/Link.astro";
import PersonAvatar from "@ui/base/PersonAvatar.astro";
import PortableTextContentBlock from "@ui/base/PortableTextContentBlock.astro";
import Spacer from "@ui/base/Spacer.astro";
import Stack from "@ui/base/Stack.astro";
import Typography from "@ui/base/Typography.astro";

import ExploreLinks from "@ui/composite/ExploreLinks.astro";
import ContentBlockRenderer from "@ui/composite/content-linked/content-block/ContentBlockRenderer.astro";

const aboutContentGroup = await getCollection(
  "contentGroups",
  (col) => col.data.slug === "about",
);
if (aboutContentGroup.length === 0) {
  throw new Error("Could not get content group for about page");
}

const team = await getEntry(
  "personGroups",
  "97b9fbc2-3085-459f-8af8-38670b97d08c",
);
if (!team) {
  throw new Error("Could not get 'core team' for about page");
}

const teamMembers = await getEntries(
  team.data.members.map((x) => ({ collection: x.collection, id: x.id })),
);
if (!team) {
  throw new Error("Could not get 'core team members' for about page");
}

type SocialConfig = {
  type: SocialVal;
  hrefFn: (val: string) => string;
  icon: IconKey;
  a11yLabel: string;
};
const socialConfigMap: Record<SocialVal, SocialConfig> = {
  linkedIn: {
    type: "linkedIn",
    hrefFn: (val) => val,
    icon: "linkedIn",
    a11yLabel: "Linked In profile",
  },
  email: {
    type: "email",
    hrefFn: (val) => `mailto:${val}`,
    icon: "envelope",
    a11yLabel: "Email",
  },
};

const contentGroupData = aboutContentGroup[0].data;
---

<SitePageLayout>
  <PageHeaderLayout
    surfaceVariant="primaryContrast"
    surfaceVariantKey={1}
    image={contentGroupData.image ?? null}
  >
    <Spacer marginBottom={3}>
      <Typography
        marginBottom={2}
        as="h1"
        variant="title-1"
        colorVariant="primaryContrast"
      >
        {contentGroupData.title}
      </Typography>
    </Spacer>
    <ExploreLinks
      links={[
        { url: "/about/our-story", label: "Our Story" },
        { url: "/about/mission-and-values", label: "Mission and Values" },
        { url: "/about/team", label: "The Why Grief Matters Team" },
      ]}
    />
  </PageHeaderLayout>
  <Section>
    {
      contentGroupData.contentBlocks.map((block) => (
        <Stack spacing={4}>
          <ContentBlockRenderer textAlign="center" contentBlockRef={block} />
        </Stack>
      ))
    }
  </Section>
  <Section colorVariantKey={3}>
    <Typography
      as="h2"
      variant="title-2"
      set:text="Meet the Team"
      marginBottom={3}
    />
    <Stack spacing={2}>
      {
        teamMembers.map((member) => (
          <div class:list={[paddingBottomMap[4], marginBottomMap[4], "not-last:border-b border-b-line-coolNeutral--default"]}>
            <div
              class:list={[
                "space-y-3  md:gap-6",
                member.data.avatar && "md:grid md:grid-cols-[1fr_2fr]",
              ]}
            >
              {member.data.avatar && (
                <div class="flex justify-center md:block">
                  <PersonAvatar
                    image={{ image: member.data.avatar, altText: "" }}
                  />
                </div>
              )}
              <Stack spacing={2}>
                <div>
                  <Typography as="h3" variant="title-3">
                    {member.data.fullName}
                  </Typography>
                  <Typography variant="subtitle-1">
                    {member.data.role}
                  </Typography>
                </div>
                {member.data.shortBio && (
                  <PortableTextContentBlock
                    portableText={member.data.shortBio}
                  />
                )}
                {member.data.socials && (
                  <div class="flex gap-3">
                    {Object.entries(member.data.socials).map(([key, val]) => {
                      if (!val) {
                        return null;
                      }

                      const socialConfig = socialConfigMap[key as SocialVal];

                      return (
                        <a
                          class="text-onSurface-coolNeutral--muted"
                          href={socialConfig.hrefFn(val)}
                        >
                          <Icon
                            size={3}
                            getIcon={(icons) =>
                              icons[socialConfig.icon as IconKey]
                            }
                          />
                          <span class="sr-only">{socialConfig.a11yLabel}</span>
                        </a>
                      );
                    })}
                  </div>
                )}
                {member.data.personalStory && (
                  <Link
                    to={`/about/${kebabCase(member.data.fullName)}`}
                    label="Read More"
                  />
                )}
              </Stack>
            </div>
          </div>
        ))
      }
    </Stack>
    <div class="text-center">
      <Link to={`/about/team`}>
        {"Read more about "}
        <strong>{"Our Team, Volunteers"}</strong>
        {" and "}
        <strong>{"Contributors"}</strong>
      </Link>
    </div>
  </Section>
</SitePageLayout>
