---
import {
  getCategorySlugs,
  getInternetResources,
  getPopulationSlugs,
} from "@common/client";
import MainLayout from "@layouts/MainLayout.astro";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";
import { INTERNET_RESOURCE_TYPES } from "@model/common";

export async function getStaticPaths() {
  const categorySlugs = await getCategorySlugs();
  const populationSlugs = await getPopulationSlugs();

  return [
    ...INTERNET_RESOURCE_TYPES.flatMap((resourceType) =>
      categorySlugs.flatMap((category) =>
        populationSlugs.map((population) => ({
          params: { resourceType, category, population },
        })),
      ),
    ),
  ];
}

const { resourceType, category, population } = Astro.params;

const resources = await getInternetResources({
  resourceType,
  category,
  population,
});
---

<MainLayout>
  <ResourcePageLayout
    resourceType={resourceType}
    category={category}
    population={population}
  >
    <ul>
      {
        resources?.map((resource) => (
          <li class="p-2">
            <h3>{resource.title}</h3>
            <p>{resource.description}</p>
            <a href={resource.resourceUrl}>{resource.resourceUrl}</a>
          </li>
        ))
      }
    </ul>
  </ResourcePageLayout>
</MainLayout>
