---
import capitalize from "lodash/capitalize";
import pluralize from "pluralize";

import { INTERNET_RESOURCE_TYPES } from "@model/common";

import {
  getCategory,
  getCategorySlugs,
  getInternetResources,
  getPopulations,
} from "@common/client";
import { getFilteredPopulationsFromResources } from "@common/population";

import MainLayout from "@layouts/MainLayout.astro";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";
import TwoColLayout from "@layouts/TwoColLayout.astro";

import AsideNav from "@ui/AsideNav/AsideNav.astro";
import Resource from "@ui/Resource.astro";
import NavLink from "@ui/primitives/NavLink.astro";

export async function getStaticPaths() {
  const categorySlugs = await getCategorySlugs();

  return [
    ...INTERNET_RESOURCE_TYPES.flatMap((resourceType) =>
      categorySlugs.map((category) => ({
        params: { resourceType, category },
      })),
    ),
  ];
}

const params = Astro.params;

const resources = await getInternetResources({
  resourceType: params.resourceType,
  categorySlug: params.category,
});

const filteredPopulations =
  await getFilteredPopulationsFromResources(resources);
const category = await getCategory(params.category);

const resourceTypeLabel = capitalize(pluralize(params.resourceType));
---

<MainLayout>
  <ResourcePageLayout resourceType={params.resourceType} category={category}>
    <TwoColLayout>
      <ul>
        {
          resources?.map((resource) => (
            <li>
              <Resource resource={resource} />
            </li>
          ))
        }
      </ul>
      <aside slot="aside">
        {
          filteredPopulations.length > 0 && (
            <AsideNav title={`${resourceTypeLabel} in this category for...`}>
              {filteredPopulations.map((population) => (
                <NavLink
                  href={`/${params.resourceType}/${category.slug}/${population.slug}`}
                  navContext="secondary"
                >
                  {population.name}
                </NavLink>
              ))}
            </AsideNav>
          )
        }
      </aside>
    </TwoColLayout>
  </ResourcePageLayout>
</MainLayout>
