---
import {
  internetResourceCollectionKeys,
  type InternetResourceEntries,
} from "@content/collections";
import type { PopulationSlug } from "@content/model/population";
import Shell from "@ui/layouts/Shell.astro";
import InternetResourceListingRenderer from "@ui/orchestrators/InternetResourceListingRenderer.astro";
import PortableTextContentBlock from "@ui/primitives/PortableTextContentBlock.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import startCase from "lodash/startCase";

interface Props {
  categoryEntry: CollectionEntry<"categories">;
  populationEntry: CollectionEntry<"populations">;
  internetResources: InternetResourceEntries;
}

const labelMakerFnMap: Record<PopulationSlug, (name: string) => string> = {
  "latino-and-hispanic-americans": (name: string) => `Resources for ${name}`,
  "african-american-black": (name: string) => `Resources for ${name}`,
  "asian-american-and-pacific-islander": (name: string) =>
    `Resources for ${name}`,
  "people-with-disabilities": (name: string) => `Resources for ${name}`,
  "lgbtq-community": (name: string) => `Resources for the ${name}`,
  "indigenous-communities": (name: string) => `Resources for ${name}`,
};

export async function getStaticPaths() {
  const categoryEntries = await getCollection("categories");
  const populationEntries = await getCollection("populations");

  const staticPaths = [];

  for (const categoryEntry of categoryEntries) {
    for (const populationEntry of populationEntries) {
      const internetResources: InternetResourceEntries = {};
      for (const key of internetResourceCollectionKeys) {
        const resourcesForKey = await getCollection(
          key,
          ({ data }) =>
            data.categories.some((c) => c.id === categoryEntry.id) &&
            data.populations.some((p) => p.id === populationEntry.id)
        );

        if (resourcesForKey.length > 0) {
          // eslint-disable-next-line @typescript-eslint/no-explicit-any
          (internetResources as any)[key] = resourcesForKey;
        }
      }

      if (Object.values(internetResources).flat().length === 0) {
        continue;
      }

      staticPaths.push({
        params: {
          category: categoryEntry.data.slug,
          population: populationEntry.data.slug,
        },
        props: {
          categoryEntry,
          populationEntry,
          internetResources,
        },
      });
    }
  }

  return staticPaths;
}

const props = Astro.props;
const params = Astro.params;

const labelMaker = labelMakerFnMap[props.populationEntry.data.slug];
---

<Shell>
  <header>
    <h1>
      {props.categoryEntry.data.displayTitle ?? props.categoryEntry.data.title}
    </h1>
    {
      props.categoryEntry.data.shortDescription && (
        <p>{props.categoryEntry.data.shortDescription}</p>
      )
    }
    <p>{labelMaker(props.populationEntry.data.name)}</p>
    <a href={`/${params.category}`}>{"See all resources for this topic"}</a>
  </header>
  {
    props.categoryEntry.data.description && (
      <PortableTextContentBlock
        portableText={props.categoryEntry.data.description}
      />
    )
  }
  <section>
    {
      Object.entries(props.internetResources).map(
        ([resourceType, resourceEntries]) => (
          <div>
            <h2>{startCase(resourceType)}</h2>
            {resourceEntries.map((entry) => (
              <InternetResourceListingRenderer entry={entry} />
            ))}
          </div>
        )
      )
    }
  </section>
</Shell>
