---
import startCase from "lodash/startCase";
import pluralize from "pluralize";

import {
  getCategory,
  getCategorySlugs,
  getInternetResources,
  getPopulation,
  getPopulationSlugs,
} from "@common/client";
import { filterTypesFromResources } from "@common/resourceType";

import MainLayout from "@layouts/MainLayout.astro";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";
import TwoColLayout from "@layouts/TwoColLayout.astro";

import AsideNav from "@ui/AsideNav/AsideNav.astro";
import Resource from "@ui/Resource.astro";
import NavLink from "@ui/primitives/NavLink.astro";

export async function getStaticPaths() {
  const categorySlugs = await getCategorySlugs();
  const populationSlugs = await getPopulationSlugs();

  return categorySlugs.flatMap((category) =>
    populationSlugs.map((population) => ({
      params: { category, population },
    })),
  );
}

const params = Astro.params;

const resources = await getInternetResources({
  categorySlug: params.category,
  populationSlug: params.population,
});

const category = await getCategory(params.category);
const population = await getPopulation(params.population);

const filteredTypes = filterTypesFromResources(resources);
---

<MainLayout>
  <ResourcePageLayout category={category} population={population}>
    <TwoColLayout>
      <ul>
        {
          resources?.map((resource) => (
            <li>
              <Resource resource={resource} />
            </li>
          ))
        }
      </ul>
      <aside slot="aside">
        {
          filteredTypes.length > 0 && (
            <AsideNav title={`Resources in this category by type...`}>
              {filteredTypes.map((type) => (
                <NavLink
                  href={`/${type}/${category.slug}/${population.slug}`}
                  navContext="secondary"
                >
                  {pluralize(startCase(type))}
                </NavLink>
              ))}
            </AsideNav>
          )
        }
      </aside>
    </TwoColLayout>
  </ResourcePageLayout>
</MainLayout>
