---
import { getCollection, type CollectionEntry } from "astro:content";

import {
  internetResourceCollectionKeys,
  type InternetResourceCollectionKey,
  type InternetResourceEntries,
} from "@content/collections";
import type { PopulationSlug } from "@content/model/population";

import { getAllDescendantCategoryIds } from "@ui/utils/content/category";
import ResourceListingsOrchestrator from "@ui/scripted/resource-listings-controller/ResourceListingsOrchestrator.astro";

import PageHeaderLayout from "@ui/layouts/PageHeaderLayout.astro";
import Section from "@ui/layouts/Section.astro";
import SitePageLayout from "@ui/layouts/SitePageLayout.astro";

import LayoutSurface from "@ui/base/LayoutSurface.astro";
import Typography from "@ui/base/Typography.astro";

import CategoryDescription from "@ui/composite/content-linked/category/CategoryDescription.astro";
import PopulationHeaderBar from "@ui/composite/content-linked/population/PopulationHeaderBar.astro";

interface Props {
  categoryEntry: CollectionEntry<"categories">;
  populationEntry: CollectionEntry<"populations">;
  internetResources: InternetResourceEntries;
  resourceTypes: Array<InternetResourceCollectionKey>;
}

const labelMakerFnMap: Record<PopulationSlug, (name: string) => Array<string>> =
  {
    "latino-and-hispanic-americans": (name: string) => ["Resources for", name],
    "african-american-black": (name: string) => ["Resources for", name],
    "asian-american-and-pacific-islander": (name: string) => [
      "Resources for",
      name,
    ],
    "people-with-disabilities": (name: string) => ["Resources for", name],
    "lgbtq-community": (name: string) => ["Resources for the", name],
    "indigenous-communities": (name: string) => ["Resources for", name],
  };

export async function getStaticPaths() {
  const categoryEntries = await getCollection("categories");
  const populationEntries = await getCollection("populations");

  // Pre-fetch all resource collections once (instead of per category x population)
  const allResources = new Map<
    InternetResourceCollectionKey,
    Array<CollectionEntry<InternetResourceCollectionKey>>
  >();
  for (const key of internetResourceCollectionKeys) {
    allResources.set(key, await getCollection(key));
  }

  // Pre-compute descendant category IDs for all categories
  const descendantMap = new Map<string, Set<string>>();
  for (const categoryEntry of categoryEntries) {
    descendantMap.set(
      categoryEntry.id,
      getAllDescendantCategoryIds(categoryEntry.id, categoryEntries),
    );
  }

  const staticPaths = [];

  for (const categoryEntry of categoryEntries) {
    const allCategoryIds = descendantMap.get(categoryEntry.id)!;

    for (const populationEntry of populationEntries) {
      const internetResources: InternetResourceEntries = {};
      for (const key of internetResourceCollectionKeys) {
        const resourcesForKey = allResources
          .get(key)!
          .filter(
            ({ data }) =>
              data.categories.some((c) => allCategoryIds.has(c.id)) &&
              data.populations.some((p) => p.id === populationEntry.id),
          );

        if (resourcesForKey.length > 0) {
          // eslint-disable-next-line @typescript-eslint/no-explicit-any
          (internetResources as any)[key] = resourcesForKey;
        }
      }

      if (Object.values(internetResources).flat().length === 0) {
        continue;
      }

      const resourceTypes = Object.keys(internetResources);

      staticPaths.push({
        params: {
          category: categoryEntry.data.slug,
          population: populationEntry.data.slug,
        },
        props: {
          categoryEntry,
          populationEntry,
          internetResources,
          resourceTypes,
        },
      });
    }
  }

  return staticPaths;
}

const { categoryEntry, populationEntry, internetResources, resourceTypes } =
  Astro.props;

const labelMaker = labelMakerFnMap[populationEntry.data.slug];
const labelParts = labelMaker(populationEntry.data.name);
---

<SitePageLayout>
  <PageHeaderLayout
    surfaceVariant="primaryContrast"
    surfaceVariantKey={1}
    image={populationEntry.data.image}
  >
    <Typography
      marginBottom={2}
      as="h1"
      variant="title-1"
      colorVariant="primaryContrast"
    >
      {categoryEntry.data.displayTitle ?? categoryEntry.data.title}
    </Typography>
    {
      categoryEntry.data.shortDescription && (
        <Typography
          as="p"
          variant="body-2"
          colorVariant="primaryContrast"
          marginBottom={2}
        >
          {categoryEntry.data.shortDescription}
        </Typography>
      )
    }
    <PopulationHeaderBar
      slot="footer"
      labelParts={labelParts}
      allResourcesHref={`/${categoryEntry.data.slug}`}
    />
  </PageHeaderLayout>
  {/* Category Description */}
  {
    categoryEntry.data.description && (
      <Section>
        <CategoryDescription description={categoryEntry.data.description} />
      </Section>
    )
  }

  <LayoutSurface as="section" paddingX={2} paddingY={5}>
    <ResourceListingsOrchestrator
      internetResources={internetResources}
      resourceTypes={resourceTypes}
    />
  </LayoutSurface>
</SitePageLayout>
