---
import {
  getCategorySlugs,
  getInternetResources,
  getPopulationSlugs,
} from "@common/client";
import MainLayout from "@layouts/MainLayout.astro";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";

export async function getStaticPaths() {
  const categorySlugs = await getCategorySlugs();
  const populationSlugs = await getPopulationSlugs();

  return categorySlugs.flatMap((category) =>
    populationSlugs.map((population) => ({ params: { category, population } })),
  );
}

const { category, population } = Astro.params;

const resources = await getInternetResources({ category, population });
---

<MainLayout>
  <ResourcePageLayout category={category} population={population}>
    <ul>
      {
        resources?.map((resource) => (
          <li class="p-2">
            <h3>{resource.title}</h3>
            <p>{resource.description}</p>
            <a href={resource.resourceUrl}>{resource.resourceUrl}</a>
          </li>
        ))
      }
    </ul>
  </ResourcePageLayout>
</MainLayout>
