---
import {
  getCategory,
  getCategorySlugs,
  getInternetResources,
  getPopulation,
  getPopulationSlugs,
} from "@common/client";

import MainLayout from "@layouts/MainLayout.astro";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";
import TwoColLayout from "@layouts/TwoColLayout.astro";
import AsideNav from "@ui/AsideNav/AsideNav.astro";
import Resource from "@ui/Resource.astro";
import { INTERNET_RESOURCE_TYPES } from "@model/common";

export async function getStaticPaths() {
  const categorySlugs = await getCategorySlugs();
  const populationSlugs = await getPopulationSlugs();

  return categorySlugs.flatMap((category) =>
    populationSlugs.map((population) => ({
      params: { category, population },
    })),
  );
}

const params = Astro.params;

const category = await getCategory(params.category);
const population = await getPopulation(params.population);
const resources = await getInternetResources({
  categorySlug: params.category,
  populationSlug: params.population,
});
---

<MainLayout>
  <ResourcePageLayout category={category} population={population}>
    <TwoColLayout>
      <ul>
        {
          resources?.map((resource) => (
            <li>
              <Resource resource={resource} />
            </li>
          ))
        }
      </ul>
      <aside slot="aside">
        <AsideNav title="Select type of resource">
          {
            INTERNET_RESOURCE_TYPES.map((type) => (
              <a
                class="block"
                href={`/${type}/${category.slug}/${population.slug}`}
              >
                {type}
              </a>
            ))
          }
        </AsideNav>
      </aside>
    </TwoColLayout>
  </ResourcePageLayout>
</MainLayout>
