---
import { getCategorySlugs, getInternetResources } from "@common/client";
import MainLayout from "@layouts/MainLayout.astro";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";

export async function getStaticPaths() {
  const slugs = await getCategorySlugs();

  return slugs.map((category) => ({ params: { category } }));
}

const { category } = Astro.params;

const resources = await getInternetResources({ category });
---

<MainLayout>
  <ResourcePageLayout category={category}>
    <div>[[Resources]]</div>
    <ul>
      {
        resources?.map((resource) => (
          <li class="p-2">
            <h3>{resource.title}</h3>
            <p>{resource.description}</p>
            <a href={resource.resourceUrl}>{resource.resourceUrl}</a>
          </li>
        ))
      }
    </ul>
  </ResourcePageLayout>
</MainLayout>
