---
import {
  getCategoriesByFilter,
  getPopulations,
  getResourceTypePagesData,
} from "@common/client";
import MainLayout from "@layouts/MainLayout.astro";
import type { InternetResourcePageListing } from "@model/internetResource";

export async function getStaticPaths() {
  const resourceTypePagesData = await getResourceTypePagesData();
  const populations = await getPopulations();

  const pathPromises = Object.entries(resourceTypePagesData).flatMap(
    ([resourceType, resources]: [string, Array<InternetResourcePageListing>]) =>
      populations
        .filter((p) => resources.some((r) => r.populations?.includes(p.slug)))
        .map(async (p) => ({
          params: { resourceType, population: p.slug },
          props: {
            resources: resources.filter((r) => r.populations?.includes(p.slug)),
            applicableCategories: await getCategoriesByFilter({
              populationSlug: p.slug,
              resourceType,
            }),
          },
        })),
  );

  return await Promise.all(pathPromises);
}

const params = Astro.params;
const props = Astro.props;
---

<MainLayout>
  <section>
    <ul>
      {
        props.resources.map((resource) => (
          <li>
            <article>
              <h3>{resource.title}</h3>
              <time datetime={resource.lastUpdated}>
                Last updated: [[todo]]
              </time>
              <p>{resource.description}</p>
              <a href={resource.resourceUrl} rel="noopener" target="_blank">
                Go to resource
              </a>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
  <aside>
    {
      props.applicableCategories?.length > 0 && (
        <nav>
          <h2>Category</h2>
          <ul>
            {props.applicableCategories.map((category) => (
              <li>
                <a
                  href={`/${params.resourceType}/${category.slug}/${params.population}`}
                >
                  {category.title}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      )
    }
  </aside>
</MainLayout>
