---
import { getEntry, type ReferenceDataEntry } from "astro:content";

import type { BasicInternetResourceCollectionKey } from "@content/collections";

import SanityImage from "@ui/primitives/SanityImage.astro";
import {
  getSourceFromResourceUrl,
  getSourceLinkFromWebsiteRef,
} from "@ui/utils";
import ResourceSource from "../ResourceSource.astro";
import FeaturedResourceContainer from "./FeaturedResourceContainer.astro";

interface Props {
  resourceRef: ReferenceDataEntry<BasicInternetResourceCollectionKey, string>;
}

const props = Astro.props;

const { data } = await getEntry(props.resourceRef);
if (!data) {
  throw new Error(
    `[FeaturedWebsite] could not get website from reference: ${props.resourceRef.id}`
  );
}

const source = data.sourceWebsiteId
  ? await getSourceLinkFromWebsiteRef(data.sourceWebsiteId)
  : null;

const safeSource = source ?? getSourceFromResourceUrl(data.resourceUrl);
---

<FeaturedResourceContainer>
  <a href={data.resourceUrl} target="_blank" rel="noopener">
    <h3>{data.title}</h3>
  </a>
  {safeSource !== null && <ResourceSource source={safeSource} />}
  {data.description && <p>{data.description}</p>}
  {
    data.image && (
      <SanityImage
        image={{
          image: data.image.image,
          altText: "",
        }}
      />
    )
  }
</FeaturedResourceContainer>
