---
import { getEntry, type ReferenceDataEntry } from "astro:content";

import type { BasicInternetResourceCollectionKey } from "@content/collections";
import designTokens from "@styles/semantic-token-map";

import SanityImage from "@ui/primitives/SanityImage.astro";
import {
  getSourceFromResourceUrl,
  getSourceLinkFromWebsiteRef,
} from "@ui/utils";
import ResourceSource from "../ResourceSource.astro";
import Link from "@ui/primitives/Link.astro";

interface Props {
  resourceRef: ReferenceDataEntry<BasicInternetResourceCollectionKey, string>;
}

const props = Astro.props;

const { data } = await getEntry(props.resourceRef);
if (!data) {
  throw new Error(
    `[FeaturedWebsite] could not get website from reference: ${props.resourceRef.id}`
  );
}

const source = data.sourceWebsiteId
  ? await getSourceLinkFromWebsiteRef(data.sourceWebsiteId)
  : null;

const safeSource = source ?? getSourceFromResourceUrl(data.resourceUrl);
---

<article class:list={[designTokens.shadow.large]}>
  {
    data.image && (
      <SanityImage
        image={{
          image: data.image.image,
          altText: "",
        }}
      />
    )
  }
  <div class:list={["pt-3 px-4 pb-5"]}>
    <h3 class="text-balance">
      <Link
        external
        to={data.resourceUrl}
        label={data.title}
        variant="primary"
        size={2}
      />
    </h3>
    {safeSource !== null && <ResourceSource source={safeSource} />}
    {
      data.description && (
        <p class="font-serif leading-relaxed">{data.description}</p>
      )
    }
  </div>
</article>
