---
import { cva, type VariantProps } from "class-variance-authority";
import words from "lodash/words";

import type { FeaturedContent, ResourcePageLink } from "@model/featuredContent";

import { getImageUrl } from "@common/client";
import type { StandardVariantCvaSchema } from "@common/cva";

import RichTextContentBlock from "./richTextContentBlock.astro";

interface Props extends VariantProps<typeof featurePanel> {
  featuredContent: FeaturedContent;
}

function getRoute(pageLink: ResourcePageLink): string {
  const slugParts = [pageLink.type, pageLink.category, pageLink.population]
    .filter((part) => Boolean(part))
    .join("/");

  return `/${slugParts}`;
}

const variantSchema: StandardVariantCvaSchema = {
  variant: {
    primary: ["bg-rose-50"],
    secondary: ["bg-violet-50"],
    tertiary: ["bg-yellow-50"],
    quaternary: [],
  },
};

const featurePanel = cva(["py-6"], {
  variants: variantSchema,
});

const { featuredContent, variant = "primary" } = Astro.props;
---

<section class={featurePanel({ variant })}>
  <div class="container mx-auto">
    <div>
      <h2
        class="text-sky-800 text-4xl text-center font-serif lowercase after:content-['...'] font-normal"
      >
        {
          words(featuredContent.title).map((titlePart, i, arr) =>
            i !== 0 ? (
              <span class="font-semibold">{` ${titlePart}`}</span>
            ) : (
              `${titlePart}`
            )
          )
        }
      </h2>
    </div>
    {
      featuredContent.description && (
        <div class="max-w-prose my-6 m-auto prose font-serif text-center text-sky-800">
          <RichTextContentBlock portableText={featuredContent.description} />
        </div>
      )
    }
    {
      featuredContent.content.map((content) => {
        switch (content.contentType) {
          case "richTextContentBlock":
            return (
              <div class="max-w-prose my-6 m-auto prose font-serif text-center text-sky-800">
                <RichTextContentBlock portableText={content.portableText} />
              </div>
            );

          case "rowOfThreeFeaturedResources":
            return (
              <div class="flex gap-4 my-8">
                {content.resources.map((resource) => (
                  <div>TODO: row of three featured</div>
                ))}
              </div>
            );

          case "resourceLinks":
            return (
              <div
                class:list={["flex", "flex-wrap", "justify-center", "gap-4"]}
              >
                {content.resources.map((link) => (
                  <a
                    class:list={[
                      "bg-white",
                      "p-2",
                      "border-b-4",
                      "border-b-blue-800/50",
                      "hover:border-b-blue-800",
                      "text-blue-800",
                      "font-serif",
                      "italic",
                    ]}
                    href={link.url}
                    target="_blank"
                    rel="noopener"
                  >
                    {link.title}
                  </a>
                ))}
              </div>
            );
          case "rowOfThree":
            return (
              <div class="flex gap-4 my-8">
                {content.images.map((image) => (
                  <div class="flex-1">
                    <img
                      class="aspect-video"
                      src={getImageUrl(image.image).url()}
                      alt={image.altText}
                    />
                  </div>
                ))}
              </div>
            );
          case "resourcePageLinks":
            return (
              <div
                class:list={["flex", "flex-wrap", "justify-center", "gap-4"]}
              >
                {content.links.map((pageLink) => (
                  <a
                    class:list={[
                      "bg-white",
                      "p-2",
                      "border-b-4",
                      "border-b-blue-800/50",
                      "hover:border-b-blue-800",
                      "text-blue-800",
                      "font-serif",
                      "italic",
                    ]}
                    href={getRoute(pageLink)}
                  >
                    {pageLink.label}
                  </a>
                ))}
              </div>
            );
        }
      })
    }
    {
      featuredContent.featuredContentFooterLink && (
        <div class="mt-8">
          <a
            class:list={[
              "underline",
              "underline-offset-4",
              "decoration-2",
              "decoration-sky-800/40",
              "hover:decoration-sky-800",
              "text-2xl",
              "font-serif",
              "lowercase",
              "w-fit",
              "block",
              "mx-auto",
              "after:content-['...']",
              "text-sky-800",
            ]}
            href={getRoute(featuredContent.featuredContentFooterLink)}
          >
            {featuredContent.featuredContentFooterLink.label}
          </a>
        </div>
      )
    }
  </div>
</section>
