---
import { getImageUrlBuilder } from "@common/client";
import { getRoute } from "@common/route";

import RichTextContentBlock from "./PortableTextContentBlock.astro";
import FeaturedResources from "./FeaturedResources.astro";
import MobileCarousel from "./MobileCarousel/MobileCarousel.astro";
import MobileCarouselItem from "./MobileCarousel/MobileCarouselItem.astro";
import MobileCarouselControl from "./MobileCarousel/MobileCarouselControl.astro";
import TopicCollectionContentBlock from "./TopicCollectionContentBlock.astro";
import Heading from "./primitives/Heading.astro";
import EmphasizedEllipsisText from "./primitives/EmphasizedEllipsisText.astro";
import Link from "./primitives/Link.astro";
import CardLink from "./CardLink.astro";
import type { ContentGroup } from "@model/contentGroup";

interface Props {
  featuredContent: ContentGroup;
  indexInCollection?: number;
}

function getAdjustedIndex(arrLength: number, index: number) {
  let adjustedIndex = index % arrLength;

  if (adjustedIndex < 0) {
    adjustedIndex += arrLength;
  }

  return adjustedIndex;
}

const { featuredContent, indexInCollection = 0 } = Astro.props;

const bgClasses = ["bg-stone-50", "bg-stone-100"];

const adjustedIndex = getAdjustedIndex(bgClasses.length, indexInCollection);

const bgClass = bgClasses[adjustedIndex];

const featurePanelId = crypto.randomUUID();
---

<section class:list={["py-4", bgClass]}>
  <div class:list={["container mx-auto"]}>
    {
      featuredContent.title && (
        <div class="mx-auto text-center mb-4 px-3">
          <Heading as="h2" size="xl3">
            <EmphasizedEllipsisText text={featuredContent.title} />
          </Heading>
        </div>
      )
    }

    {
      featuredContent.description && (
        <RichTextContentBlock
          classList={["font-serif text-center prose", "max-w-4xl px-3 mx-auto mb-6"]}
          portableText={featuredContent.description}
        />
      )
    }
    {
      featuredContent.blocks.map((block, panelIdx) =>
        block.map((content) => {
          switch (content.contentType) {
            case "richTextContentBlock":
              return (
                <div class="max-w-prose px-3 my-6 m-auto prose font-serif text-center text-sky-800">
                  <RichTextContentBlock portableText={content.portableText} />
                </div>
              );

            case "rowOfThreeFeaturedResources":
              return (
                <div class="mb-3">
                  <FeaturedResources featuredResources={content.resources} />
                </div>
              );

            case "rowOfThree":
              return (
                <div class="mb-3">
                  <MobileCarousel>
                    <Fragment slot="items">
                      {content.images.map((image, imgIdx) => (
                        <MobileCarouselItem
                          id={`${featurePanelId}-${panelIdx}-${imgIdx}`}
                        >
                          <div class="p-3">
                            <img
                              src={getImageUrlBuilder(image.image)
                                .width(640)
                                .height(450)
                                .url()}
                              alt={image.altText}
                            />
                          </div>
                        </MobileCarouselItem>
                      ))}
                    </Fragment>
                    <Fragment slot="controls">
                      {Array.from({ length: 3 }, (_, i) => (
                        <MobileCarouselControl
                          id={`${featurePanelId}-${panelIdx}-${i}`}
                        >
                          {i + 1}
                        </MobileCarouselControl>
                      ))}
                    </Fragment>
                  </MobileCarousel>
                </div>
              );

            case "resourceLinks":
              return (
                <>
                  <div
                    class:list={["flex flex-wrap justify-center gap-4", "p-3"]}
                  >
                    {content.resources.map((link) => (
                      <CardLink
                        href={link.url}
                        cardProps={{ resourceType: link.type ?? undefined }}
                        external
                      >
                        {link.title}
                      </CardLink>
                    ))}
                  </div>
                </>
              );

            case "resourcePageLinks":
              return (
                <div
                  class:list={["flex", "flex-wrap", "justify-center", "gap-4"]}
                >
                  {content.links.map((pageLink) => (
                    <CardLink
                      href={getRoute(pageLink)}
                      cardProps={{
                        resourceType: pageLink.type ?? undefined,
                      }}
                    >
                      {pageLink.label}
                    </CardLink>
                  ))}
                </div>
              );

            case "topicCollectionContentBlockNew":
              return (
                <div class="mx-3">
                  <TopicCollectionContentBlock topics={content.topics} />
                </div>
              );

            default:
              return <div>[[MISSING CONTENT TYPE]]</div>;
          }
        })
      )
    }
    {
      featuredContent.jumpLink &&
        (() => {
          switch (featuredContent.jumpLink?.jumpLinkType) {
            case "resourcePageLink":
              return (
                <div class="mx-auto text-center pt-6 pb-3">
                  <Link href={getRoute(featuredContent.jumpLink)} size="xl">
                    <EmphasizedEllipsisText
                      text={featuredContent.jumpLink.label}
                    />
                  </Link>
                </div>
              );
            case "relative":
              return (
                <div class="mx-auto text-center pt-6 pb-3">
                  <Link href={`/${featuredContent.jumpLink.url}`} size="xl">
                    <EmphasizedEllipsisText
                      text={featuredContent.jumpLink.label}
                    />
                  </Link>
                </div>
              );
            default: 
              return (<></>)
          }
        })
    }
  </div>
</section>
