---
import type { CategoryPageFeaturedResource } from "@model/categoryPage";

import TitleLink from "./primitives/TitleLink.astro";
import Subtitle from "./primitives/Subtitle.astro";
import Card from "./primitives/Card.astro";
import CMSImage from "./primitives/CMSImage.astro";
import Text from "./primitives/Text.astro";
import TextBlock from "./typography/TextBlock.astro";

interface Props {
  featuredResource: CategoryPageFeaturedResource;
}

const props = Astro.props;
---

<Card fullHeight hoverable resourceType={props.featuredResource.type}>
  <CMSImage image={props.featuredResource.image} />
  <div class="p-3">
    <TitleLink
      label={props.featuredResource.title}
      href={props.featuredResource.resourceUrl}
    />
    {
      props.featuredResource.sourceWebsite && (
        <Subtitle class="mb-2">
          {`From `}
          <a
            href={props.featuredResource.sourceWebsite.resourceUrl}
            rel="noopener"
            target="_blank"
            class:list={[
              "underline underline-offset-2",
              "decoration-slate-800/30 hover:decoration-sky-900 transition-decoration duration-300",
            ]}
          >
            {props.featuredResource.sourceWebsite.name}
          </a>
        </Subtitle>
      )
    }
    {
      props.featuredResource.description && (
        <TextBlock>{props.featuredResource.description}</TextBlock>
      )
    }
  </div>
</Card>
