---
import type { InternetResource } from "@model/internetResource";
import ResourceLink from "./ResourceLink.astro";

interface Props {
  resource: InternetResource;
}

const { resource } = Astro.props;
---

<article class:list={["max-w-prose mt-3 mb-12"]}>
  <h3
    class:list={[
      "text-xl",
      "text-bold",
      "font-serif",
      "italic",
      "text-teal-800",
    ]}
  >
    {resource.title}
  </h3>
  <p class="text-sm text-slate-400 mb-2">{resource.sourceWebsite?.name}</p>
  <p class="leading-relaxed mb-1 font-serif">{resource.description}</p>
  <ResourceLink href={resource.resourceUrl} variant={resource.type} />
</article>
