---
import CollapsibleContent from "@ui/Collapsible/CollapsibleContent.astro";
import CollapsibleContentButton from "@ui/Collapsible/CollapsibleContentButton.astro";
import CollapsibleContentCloseButton from "@ui/Collapsible/CollapsibleContentCloseButton.astro";
import CollapsibleContentContent from "@ui/Collapsible/CollapsibleContentContent.astro";
import Card from "@ui/primitives/Card.astro";
import Heading from "@ui/primitives/Heading.astro";
import MainNavContentBlock from "./MainNavContentBlock.astro";
import PortableTextContentBlock from "@ui/typography/PortableTextContentBlock.astro";
import type { CoreContentGroup } from "@model/coreContentGroup";
import { wgmDesignSystem as ds } from "@common/design-system";
import { getImageUrlBuilder } from "@common/client";
import { getFallbackImageCollection } from "@common/client";

interface Props {
  coreContentGroup: CoreContentGroup;
}

const { coreContentGroup: ccg } = Astro.props;

const fallbackImages = await getFallbackImageCollection();

const bgImage = ccg.coverImage?.image
  ? ccg.coverImage?.image
  : fallbackImages[Math.floor(Math.random() * fallbackImages.length)].image;

const bgImageUrl = getImageUrlBuilder(bgImage).width(675).height(675).url();
const bgVar = `url(${bgImageUrl})`;

const bgPosX = `${(bgImage.hotspot?.x ?? 0) * 100}%`;
const bgPosY = `${(bgImage.hotspot?.y ?? 0) * 100}%`;
---

<CollapsibleContent>
  <CollapsibleContentButton
    slot="button"
    classList={["block text-start py-3", "sm:w-full sm:text-center sm:py-1"]}
  >
    <span
      class:list={[
        "font-bold",
        ds.decoration.underline,
        ds.decoration.transition,
        ds.decoration.color.primary.hover,
        " sm:hover:decoration-stone-50",
        "decoration-dotted",
        "sm:text-stone-50 sm:font-medium",
        "sm:text-base",
        "text-2xl",
      ]}
    >
      {ccg.title}
    </span>
  </CollapsibleContentButton>
  <CollapsibleContentContent slot="content">
    <div
      class:list={[
        "fixed inset-0 bg-orange-50",
        "lg:absolute lg:top-full lg:h-[75vh] lg:max-h-[675px] xl:mx-6 2xl:container 2xl:mx-auto",
        "lg:shadow-2xl",
      ]}
    >
      <div
        class="h-full flex max-h-full flex-col-reverse md:flex-col lg:relative"
      >
        <div
          class:list={[
            "w-full flex justify-end mb-3 md:mb-0",
            "md:w-min md:block md:absolute md:top-0 md:right-0 md:bg-orange-50",
            "lg:right-1/3",
          ]}
        >
          <CollapsibleContentCloseButton
            classList={["flex justify-end items-center space-x-2 p-6 sm:p-3"]}
          >
            <span
              class:list={[
                "font-semibold",
                "block",
                "font-serif italic text-2xl lg:text-xl",
                ds.typography.color?.primary.default,
              ]}
            >
              {"Close"}
            </span>
            <div class:list={["w-6", ds.typography.color?.primary.default]}>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <g transform="rotate(45, 50, 50)">
                  <line
                    x1="10"
                    y1="50"
                    x2="90"
                    y2="50"
                    stroke="currentColor"
                    stroke-width="8"
                    stroke-linecap="round"></line>
                  <line
                    x1="50"
                    y1="10"
                    x2="50"
                    y2="90"
                    stroke="currentColor"
                    stroke-width="8"
                    stroke-linecap="round"></line>
                </g>
              </svg>
            </div>
          </CollapsibleContentCloseButton>
        </div>

        <div
          class="flex-grow h-full max-h-full overflow-y-auto main-nav-ccg-grid"
        >
          <div class="p-6 lg:flex-1 lg:pt-4">
            <Heading class:list={["font-bold mb-6"]} size="xl2" as="h2">
              {ccg.title}
            </Heading>
            <div
              class:list={[
                "divide-y divide-dashed divide-gray-200",
                "md:divide-y-0 md:divide-x md:flex ",
              ]}
            >
              {
                ccg.mainContent.blocks.map((contentBlock) => (
                  <div
                    class:list={[
                      "pb-3 pt-6 first:pt-0",
                      "md:pt-0 md:flex-1 md:pl-4 md:first:pl-0 md:mr-3",
                    ]}
                  >
                    {contentBlock.content.map((content) => (
                      <MainNavContentBlock block={content} />
                    ))}
                  </div>
                ))
              }
            </div>
          </div>

          <div
            class:list={[
              { hidden: ccg.supplementaryContent === null },
              "p-6",
              "supplementary-bg",
              "flex justify-center items-center",
              "lg:flex", // Ensures we render the cover image even with no content at appropriate screen size
            ]}
          >
            {
              ccg.supplementaryContent && (
                <Card>
                  <div class="m-3 max-w-[600px]">
                    {ccg.supplementaryContent.title && (
                      <Heading
                        class:list={["font-semibold mb-2"]}
                        size="xl2"
                        as="h3"
                      >
                        {ccg.supplementaryContent.title}
                      </Heading>
                    )}
                    {ccg.supplementaryContent.description && (
                      <PortableTextContentBlock
                        portableText={ccg.supplementaryContent.description}
                      />
                    )}
                    {ccg.supplementaryContent.blocks.map((contentBlock) => (
                      <div>
                        {contentBlock.content.map((content) => (
                          <div class="mb-3">
                            <MainNavContentBlock block={content} />
                          </div>
                        ))}
                      </div>
                    ))}
                  </div>
                </Card>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </CollapsibleContentContent>
</CollapsibleContent>

<style define:vars={{ bgVar, bgPosX, bgPosY }}>
  .supplementary-bg {
    background-image: var(--bgVar);
    background-size: cover;
    background-position-x: var(--bgPosX);
    background-position-y: var(--bgPosY);
  }

  @media (min-width: 1024px) {
    .main-nav-ccg-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .main-nav-ccg-container {
      min-height: 500px;
      max-height: 100vh;
    }
  }
</style>
