---
import { getEntry, type CollectionEntry } from "astro:content";

import {
  collectionKeyToResourceTypeMap,
  type BasicInternetResourceCollectionKey,
} from "@content/collections";
import Icon from "@ui/base/Icon.astro";
import LinkComp from "@ui/base/Link.astro";
import Stack from "@ui/base/Stack.astro";
import Typography from "@ui/base/Typography.astro";
import {
  getLocaleDateStringFromIsoString,
  getSourceFromResourceUrl,
  isLink,
  type Link,
} from "src/components/utils/helpers";
import { resourceTypeIconConfigMap } from "src/components/utils/icons";

interface Props {
  entry: CollectionEntry<BasicInternetResourceCollectionKey>;
}

const props = Astro.props;

const lastReviewedDate = getLocaleDateStringFromIsoString(
  props.entry.data.updatedAt,
);

let source: Link | null = null;
if (props.entry.data.sourceWebsiteId) {
  const sourceWebsiteEntry = await getEntry(props.entry.data.sourceWebsiteId);
  source = {
    label: sourceWebsiteEntry.data.name,
    url: sourceWebsiteEntry.data.resourceUrl,
  };
}

const processedSource =
  source ?? getSourceFromResourceUrl(props.entry.data.resourceUrl);

const resourceType = collectionKeyToResourceTypeMap[props.entry.collection];

const iconConfig = resourceTypeIconConfigMap[resourceType];
---

<article
  id={`resource--${props.entry.id}`}
  data-resource-type={props.entry.collection}
>
  <Stack as="header" reverse>
    <div>
      <LinkComp external variant="title-4" to={props.entry.data.resourceUrl}>
        <h4
          id={props.entry.id}
          class="inline m-0"
          set:text={props.entry.data.title}
        />
        <span class="inline-block">
          <Icon
            size={2}
            color="primary"
            getIcon={(icons) => icons.arrowTopRightOnSquare}
          />
        </span>
      </LinkComp>
    </div>
    <div
      data-pagefind-ignore="index"
      class:list={["space-y-1.5", "md:flex md:gap-1.5"]}
    >
      {
        processedSource !== null && (
          <div class:list={["flex gap-1.5 items-center"]}>
            <Icon
              color={iconConfig.colorVariant}
              getIcon={() => iconConfig.icon}
              size={1}
              display="inline"
            />
            <Typography variant="subtitle-1">
              {"From "}
              {isLink(processedSource) ? (
                // Render a link if we managed to process one
                <LinkComp
                  external
                  variant="subtitle-1"
                  to={processedSource.url}
                  label={processedSource.label}
                />
              ) : (
                // Render just text if we fail to get a linkable source
                <span>{processedSource}</span>
              )}
              {","}
            </Typography>
          </div>
        )
      }
      {
        lastReviewedDate && (
          <Typography variant="subtitle-1">
            {"last reviewed "}
            <time datetime={props.entry.data.updatedAt}>
              {lastReviewedDate}
            </time>
          </Typography>
        )
      }
    </div>
  </Stack>
  <Typography>
    {props.entry.data.description}
  </Typography>
</article>
