---
import { getEntry, type ReferenceDataEntry } from "astro:content";

import {
  getSourceLinkFromWebsiteRef,
  getSourceFromResourceUrl,
} from "@ui/utils/content/content";

import StarRating from "@ui/base/StarRating.astro";
import LinkComp from "@ui/base/Link.astro";
import ResourceSource from "./ResourceSource.astro";

interface Props {
  appRef: ReferenceDataEntry<"apps", string>;
}

const props = Astro.props;

const { data } = await getEntry(props.appRef);
if (!data) {
  throw new Error(
    `[FeaturedApp] could not get 'app' from reference: ${props.appRef.id}`,
  );
}

const source = data.sourceWebsiteId
  ? await getSourceLinkFromWebsiteRef(data.sourceWebsiteId)
  : null;

const safeSource =
  source ??
  (data.resourceUrl !== null
    ? getSourceFromResourceUrl(data.resourceUrl)
    : null);
---

<article class="flex gap-4">
  {
    data.appleIconUrl && (
      <div class="shrink-0">
        <img
          src={data.appleIconUrl}
          alt={`${data.title} app icon`}
          width="80"
          height="80"
          class="rounded-2xl"
          loading="lazy"
        />
      </div>
    )
  }
  <div class="space-y-1.5">
    <h3>{data.title}</h3>
    {safeSource !== null && <ResourceSource source={safeSource} />}
    {
      data.appleRating !== null && data.appleRatingCount !== null && (
        <StarRating rating={data.appleRating} count={data.appleRatingCount} />
      )
    }
    {data.description && <p>{data.description}</p>}
    <div class="flex flex-wrap items-center gap-3">
      {
        data.appleUrl && (
          <LinkComp external variant="subtitle-1" to={data.appleUrl}>
            App Store
          </LinkComp>
        )
      }
      {
        data.playStoreUrl && (
          <LinkComp external variant="subtitle-1" to={data.playStoreUrl}>
            Google Play
          </LinkComp>
        )
      }
    </div>
  </div>
</article>
