---
import type { CollectionEntry } from "astro:content";

import type { InternetResourceCollectionKey } from "@content/collections";

import { assertNever } from "@ui/utils/ts-utils";

import AppListing from "./AppListing.astro";
import BasicInternetResourceListing from "./BasicInternetResourceListing.astro";
import CrisisResourceListing from "./CrisisResourceListing.astro";
import PodcastListing from "./PodcastListing.astro";
import PodcastEpisodeListing from "./PodcastEpisodeListing.astro";
import ExternalOrgListing from "./ExternalOrgListing.astro";

interface Props {
  entry: CollectionEntry<InternetResourceCollectionKey>;
}

const { entry } = Astro.props;
---

<Fragment>
  {
    () => {
      // TODO - atm we're using the same component for all types but each should have its own over time
      switch (entry.collection) {
        case "apps":
          return <AppListing entry={entry} />;
        case "articles":
        case "blogs":
        case "communities":
        case "courses":
        case "forums":
        case "memorials":
        case "printedMaterials":
        case "stories":
        case "videos":
        case "webinars":
          return <BasicInternetResourceListing entry={entry} />;
        case "podcasts":
          return <PodcastListing entry={entry} />;
        case "podcastEpisodes":
          return <PodcastEpisodeListing entry={entry} />;
        case "externalOrgs":
          return <ExternalOrgListing entry={entry} />;
        case "crisisResources":
          return <CrisisResourceListing entry={entry} />;
        case "books":
        case "essentialServices":
        case "listicles":
        case "peerSupports":
        case "supportGroups":
        case "therapyResources":
          return <div>[[TODO]]</div>;
        default:
          assertNever(entry);
      }
    }
  }
</Fragment>
