---
import type { CollectionEntry } from "astro:content";

import { resourceTypeIconConfigMap } from "@ui/utils/icon";
import { getLocaleDateStringFromIsoString } from "@ui/utils/date";

import Icon from "@ui/base/Icon.astro";
import LinkComp from "@ui/base/Link.astro";
import SanityImage from "@ui/base/SanityImage.astro";
import Typography from "@ui/base/Typography.astro";

interface Props {
  entry: CollectionEntry<"websites">;
}

const { entry } = Astro.props;

const iconConfig = resourceTypeIconConfigMap["website"];

const logo = entry.data.logo
  ? { image: entry.data.logo, altText: `${entry.data.name} logo` }
  : null;

const lastReviewedDate = getLocaleDateStringFromIsoString(entry.data.updatedAt);
---

<article id={`resource--${entry.id}`} data-resource-type={entry.collection}>
  <header class="flex flex-col-reverse space-y-reverse space-y-1.5">
    <div class="mb-1.5">
      <LinkComp external variant="title-4" to={entry.data.resourceUrl}>
        <h4 id={entry.id} class="inline m-0" set:text={entry.data.name} />
        <span class="inline-block">
          <Icon
            size={2}
            colorVariant="primary"
            getIcon={(icons) => icons.arrowTopRightOnSquare}
          />
        </span>
      </LinkComp>
    </div>
    <div
      data-pagefind-ignore="index"
      class:list={["flex gap-1.5 items-center"]}
    >
      <Icon
        colorVariant={iconConfig.colorVariant}
        getIcon={() => iconConfig.icon}
        size={1}
        display="inline"
      />
      {
        lastReviewedDate && (
          <Typography variant="subtitle-1">
            {"Last reviewed "}
            <time datetime={entry.data.updatedAt}>{lastReviewedDate}</time>
          </Typography>
        )
      }
    </div>
  </header>
  <div class="flex gap-6">
    <div class="shrink">
      {
        entry.data.description && (
          <Typography>{entry.data.description}</Typography>
        )
      }
    </div>
    {
      logo && (
        <a
          href={entry.data.resourceUrl}
          class="hidden md:flex md:max-w-62.5 self-center"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SanityImage
            image={logo}
            maxWidth={250}
            objectFit="contain"
            useFallback={false}
            aspect="none"
          />
        </a>
      )
    }
  </div>
</article>
