---
import type { SanityImage } from "@content/model/image";

import ContentSurface from "@ui/primitives/ContentSurface.astro";
import SanityImagePrimitive from "@ui/primitives/SanityImage.astro";
import Link from "@ui/primitives/Link.astro";
import type { ColorVariant, Prominence } from "@ui/utils/styles";
import Typography from "@ui/primitives/Typography.astro";

interface Props {
  variant?: ColorVariant;
  prominence?: Prominence;
  // Content props
  image?: SanityImage | null;
  title: string;
  titleHref?: string;
  external?: boolean;
}

const {
  variant = "neutral",
  prominence = "default",
  image,
  title,
  titleHref,
  external = false,
} = Astro.props;

const colorVariant = variant === "neutral" ? "coolNeutral" : "primary";
---

<ContentSurface as="article" variant={variant} prominence={prominence}>
  {image && <SanityImagePrimitive image={image} />}

  <div class="pt-3 px-4 pb-5">
    {
      titleHref ? (
        <Link
          to={titleHref}
          label={title}
          external={external}
          variant="title-3"
          color={colorVariant}
        />
      ) : (
        <Typography as="h3" variant="title-3" color={colorVariant}>
          {title}
        </Typography>
      )
    }
    <slot />
  </div>
</ContentSurface>
