---
import Button from "@ui/primitives/Button.astro";
import LayoutSurface from "@ui/primitives/LayoutSurface.astro";
import Link from "@ui/primitives/Link.astro";
import SanityImage from "@ui/primitives/SanityImage.astro";
import Spacer from "@ui/primitives/Spacer.astro";
import Stack from "@ui/primitives/Stack.astro";
import Typography from "@ui/primitives/Typography.astro";
import { getEntries, type CollectionEntry } from "astro:content";

interface Props {
  categoryEntryData: CollectionEntry<"categories">["data"];
  parentCategory?: CollectionEntry<"categories">;
}

const props = Astro.props;

let resolvedSubcategories: Array<CollectionEntry<"categories">> | null = null;
if (props.categoryEntryData.subcategories.length > 0) {
  const c = await getEntries(props.categoryEntryData.subcategories);
  resolvedSubcategories = c;
}
---

<LayoutSurface variant="primaryContrast" as="header">
  <div class="md:grid md:grid-cols-2 md:min-h-100">
    <div class="md:order-2 md:relative">
      <SanityImage
        classList={["md:absolute md:inset-0 md:h-full md:w-full"]}
        objectFit="cover"
        image={props.categoryEntryData.image}
      />
    </div>
    <div class="md:order-1 px-8 py-12 md:flex md:items-center md:justify-end">
      <div class="basis-100">
        <Spacer marginBottom={3}>
          <!-- header -->
          <Typography
            marginBottom={2}
            as="h1"
            variant="title-1"
            color="primaryContrast"
          >
            {
              props.categoryEntryData.displayTitle ??
                props.categoryEntryData.title
            }
          </Typography>
          <!-- description -->
          {
            props.categoryEntryData.shortDescription && (
              <Typography
                as="p"
                variant="body-2"
                color="primaryContrast"
                marginBottom={2}
              >
                {props.categoryEntryData.shortDescription}
              </Typography>
            )
          }
        </Spacer>

        <!-- subcats -->
        {
          resolvedSubcategories !== null &&
            resolvedSubcategories?.length > 0 && (
              <Stack spacing={3}>
                <Typography color="primaryContrast" variant="title-4">
                  {"Explore further:"}
                </Typography>
                <Stack as="ul" spacing={2} marginBottom={4}>
                  {resolvedSubcategories.map((c) => (
                    <li>
                      <Link
                        to={`/${c.data.slug}`}
                        label={c.data.title}
                        color="primaryContrast"
                      />
                    </li>
                  ))}
                </Stack>
              </Stack>
            )
        }
        {/* button */}
        {
          props.parentCategory && (
            <Button
              as="a"
              colorVariant="secondary"
              href={`/${props.parentCategory.data.slug}`}
            >
              <Typography>
                {"Part of "}
                <strong class="text-bold">
                  {props.parentCategory.data.displayTitle ??
                    props.parentCategory.data.title}
                </strong>
              </Typography>
            </Button>
          )
        }
      </div>
    </div>
  </div>
</LayoutSurface>
