---
import { getImageUrlBuilder } from "@common/client";
import type { Person } from "@model/person";
import PortableTextContentBlock from "@ui/typography/PortableTextContentBlock.astro";
import Card from "@ui/primitives/Card.astro";
import Subtitle from "@ui/primitives/Subtitle.astro";

import linkedInImg from "../../img/linkedin.svg";
import fallbackImg from "../../img/avatar.svg";

interface Props {
  person: Person;
}

const props = Astro.props;

const avatarImage = props.person.avatar
  ? {
      src: getImageUrlBuilder(props.person.avatar).width(640).height(640).url(),
      alt: `Profile photo of ${props.person.fullName}`,
    }
  : {
      src: fallbackImg.src,
      alt: "",
    };
---

<div class:list={["sm:flex"]}>
  <div class:list={["max-w-sm mx-auto", "sm:basis-1/3"]}>
    <Card disableBorder additiveClasses={["p-3 my-3"]} fullHeight={false}>
      <img
        class="bg-indigo-50/50"
        src={avatarImage.src}
        alt={avatarImage.alt}
      />
    </Card>
  </div>
  <div
    class:list={[
      "max-w-sm mx-auto sm:max-w-none sm:mx-3 md:mx-6",
      "sm:flex-shrink sm:basis-2/3",
      "sm:my-3",
    ]}
  >
    <div class:list={["border-b-2 border-indigo-500/25 mb-3"]}>
      <h1 class:list={["font-serif text-sky-800 font-semibold text-4xl"]}>
        {props.person.fullName}
      </h1>
      <Subtitle class:list={"mb-2"}>{props.person.role}</Subtitle>
    </div>
    {
      props.person.shortBio && (
        <PortableTextContentBlock portableText={props.person.shortBio} />
      )
    }
    {
      props.person.socials && (
        <div class="flex mt-3">
          {props.person.socials.linkedIn && (
            <a
              href={props.person.socials.linkedIn}
              rel="nofollow"
              class="block"
            >
              <img src={linkedInImg.src} class="w-10 h-10 inline-block" />
              <span class="sr-only">{props.person.socials.linkedIn}</span>
            </a>
          )}
          {props.person.socials.email && (
            <a href={`mailto:${props.person.socials.email}`} rel="nofollow">
              <span
                role="presentation"
                class="text-3xl text-indigo-300/50 ml-1.5 font-semibold font-sans"
              >
                @
              </span>
              <span class="sr-only">{props.person.socials.email}</span>
            </a>
          )}
        </div>
      )
    }
  </div>
</div>
