---
import type { TextPreset } from "@styles/utils/typography";
import type { CategoryTreeNode } from "@ui/utils/content/category";

import Link from "@ui/base/Link.astro";
import type { OnSurfaceColorVariant } from "@styles/utils/color";

interface Props {
  node: CategoryTreeNode;
  level?: number;
  colorVariant?: OnSurfaceColorVariant;
}

const Self = Astro.self;
const { colorVariant, node, level = 0 } = Astro.props;

const textVariantMap: Record<number, TextPreset> = {
  0: "title-4",
  1: "body-2",
  2: "body-1",
};
---

<li class:list={[level === 0 && "mb-8"]}>
  {
    node.href ? (
      <Link
        to={node.href}
        label={node.displayTitle}
        variant={textVariantMap[level]}
        colorVariant={colorVariant}
      />
    ) : (
      <span>{node.displayTitle}</span>
    )
  }
  {
    node.children.length > 0 && (
      <ul class="mt-2 space-y-2">
        {node.children.map((child) => (
          <Self colorVariant={colorVariant} node={child} level={level + 1} />
        ))}
      </ul>
    )
  }
</li>
