---
import type { SanityImage } from "@content/model/image";

import ContentSurface, {
  type ContentSurfaceVariant,
} from "@ui/base/ContentSurface.astro";
import SanityImagePrimitive from "@ui/base/SanityImage.astro";
import Link from "@ui/base/Link.astro";
import Typography from "@ui/base/Typography.astro";

interface Props {
  variant?: ContentSurfaceVariant;
  // Content props
  image?: SanityImage | null;
  title: string;
  titleHref?: string;
  external?: boolean;
  fullHeight?: boolean;
}

const {
  variant = "neutral",
  image,
  title,
  titleHref,
  external = false,
  fullHeight,
} = Astro.props;

const colorVariant = variant === "neutral" ? "coolNeutral" : "primary";
---

<ContentSurface fullHeight={fullHeight} as="article" variant="featureCard">
  <SanityImagePrimitive useFallback image={image ?? null} />
  <div class="pt-3 px-5 pb-5">
    {
      titleHref ? (
        <Link
          to={titleHref}
          label={title}
          external={external}
          variant="title-3"
          colorVariant={colorVariant}
        />
      ) : (
        <Typography as="h3" variant="title-3" colorVariant={colorVariant}>
          {title}
        </Typography>
      )
    }
    <slot />
  </div>
</ContentSurface>
