---
import { getCrisisResources } from "@common/client";
import MainLayout from "@layouts/MainLayout.astro";
import Heading from "@ui/primitives/Heading.astro";
import ContactMethodCardLink from "@ui/ContactMethodCardLink.astro";
import { wgmDesignSystem as ds } from "@common/design-system";

import PageHeader from "@ui/PageHeader.astro";
import Card from "@ui/primitives/Card.astro";
import Subtitle from "@ui/primitives/Subtitle.astro";
import TitleLink from "@ui/primitives/TitleLink.astro";
import ResourcePageListingsContainer from "@ui/ResourcePageListing/ResourcePageListingsContainer.astro";
import ResourcePageListingsListItem from "@ui/ResourcePageListing/ResourcePageListingsListItem.astro";
import RichTextContentBlock from "@ui/richTextContentBlock.astro";
import partition from "lodash/partition";
import ResourcePageLayout from "@layouts/ResourcePageLayout.astro";

const crisisResources = await getCrisisResources();

const [[suicide], rest] = partition(crisisResources, (cr) =>
  cr.title.includes("988")
);
---

<MainLayout>
  <ResourcePageLayout>
    <PageHeader
      slot="header"
      pageTitle={{ title: "Crisis Resources" }}
      bgVariant={["neutral", "default"]}
    />
    <Fragment slot="section">
      <section class:list={["lg:grow"]}>
        <div class="p-3">
          <div class="mb-6">
            <Card disableBorder>
              <div class="p-3">
                <a
                  href={suicide.resourceUrl ?? "#"}
                  rel="noopener"
                  target="_blank"
                >
                  <Heading
                    as="h3"
                    hoverable
                    size="xl3"
                    class:list={[
                      ds.decoration.underline,
                      ds.decoration.color.primary.hover,
                      "mb-3",
                    ]}
                  >
                    {suicide.title}
                  </Heading>
                </a>
                <RichTextContentBlock
                  classList={["prose prose-wgm font-serif max-w-full"]}
                  portableText={suicide.description}
                />
                <ul>
                  {
                    suicide.contactMethods.map((cm) => (
                      <li class="max-w-lg">
                        <ContactMethodCardLink contactMethod={cm} />
                      </li>
                    ))
                  }
                </ul>
              </div>
            </Card>
          </div>
        </div>
      </section>
      <div class="p-3">
        <ResourcePageListingsContainer>
          {
            rest.map((resource) => (
              <ResourcePageListingsListItem>
                <article>
                  <TitleLink
                    label={resource.title}
                    href={resource.resourceUrl ?? "#"}
                    rel="noopener"
                    target="_blank"
                  />
                  {resource.sourceWebsite && (
                    <Subtitle class="mt-1">
                      {`From `}
                      <a
                        href={resource.sourceWebsite.resourceUrl}
                        rel="noopener"
                        target="_blank"
                        class:list={[
                          "underline underline-offset-2",
                          "decoration-slate-800/30 hover:decoration-sky-900 transition-decoration duration-300",
                        ]}
                      >
                        {resource.sourceWebsite.name}
                      </a>
                    </Subtitle>
                  )}
                  {resource.description && (
                    <RichTextContentBlock
                      classList={["prose prose-wgm font-serif"]}
                      portableText={resource.description}
                    />
                  )}
                  {resource.contactMethods?.length > 0 && (
                    <ul class:list={[]}>
                      {resource.contactMethods.map((cm) => (
                        <li class="mt-3 max-w-lg">
                          <Card>
                            <ContactMethodCardLink contactMethod={cm} />
                          </Card>
                        </li>
                      ))}
                    </ul>
                  )}
                </article>
              </ResourcePageListingsListItem>
            ))
          }
        </ResourcePageListingsContainer>
      </div>
    </Fragment>
  </ResourcePageLayout>
</MainLayout>
