---
import { getEntry } from "astro:content";

import Shell from "@ui/layouts/Shell.astro";
import Section from "@ui/primitives/Section.astro";
import { getImageUrlBuilder } from "@sanity-integration/sanity-image-builder";
import { getOrganization } from "@content/loaders/organizationLoader";
import ContentBlockRenderer from "@ui/orchestrators/ContentBlockRenderer.astro";
import designTokens, {
  type LayoutSurfaceColor,
} from "@styles/semantic-token-map";
import Stack from "@ui/primitives/Stack.astro";

const org = await getOrganization();
if (!org) {
  throw new Error('Failed to [getOrganization] for "src/pages/index.astro"');
}

const homePageEntry = await getEntry("contentGroups", "home");
if (!homePageEntry) {
  throw new Error('Could not get content entry: ["contentGroups", "home"]');
}

if (!homePageEntry.data.image) {
  throw new Error("Essential content missing: [homePageEntry.data.image]");
}

const heroImgUrl = getImageUrlBuilder(homePageEntry.data.image?.image).url();

const logoUrl = org.logos.onDark
  ? getImageUrlBuilder(org.logos.onDark).url()
  : null;

const bgVar = `url(${heroImgUrl})`;

const layoutSurfaceBgValues: Array<keyof LayoutSurfaceColor["neutral"]> = [
  "default",
  "muted",
  "mutedAlt",
];
---

<Shell>
  <div
    slot="in-header"
    class:list={[
      "px-4 flex justify-center items-center flex-col h-96 2xl:h-148",
      "hero",
      "bg-center bg-no-repeat bg-cover",
    ]}
  >
    <h1 class:list={[logoUrl && "sr-only"]}>{org.name}</h1>
    <div>
      {
        logoUrl && (
          <img
            class="h-24 lg:h-32 2xl:h-48"
            src={logoUrl}
            alt={`${org.name} logo`}
          />
        )
      }
      <p
        class:list={[
          designTokens.color.text.onDark,
          "font-serif italic lowercase",
          "text-sm sm:text-base 2xl:text-2xl",
          `before:content-["..."]`,
          `text-right 2xl:text-left`,
          "indent-28 lg:indent-40 2xl:indent-60",
          "-mt-3 2xl:-mt-6",
        ]}
        set:text={org.slogan}
      />
    </div>
  </div>
  {
    homePageEntry.data.contentBlocks.map((block, i) => (
      <Section
        backgroundColor={(t) =>
          t.neutral[layoutSurfaceBgValues[i % layoutSurfaceBgValues.length]]
        }
      >
        <Stack>
          <ContentBlockRenderer contentBlockRef={block} />
        </Stack>
      </Section>
    ))
  }
</Shell>

<style define:vars={{ bgVar }}>
  .hero {
    background-image: var(--bgVar);
  }
</style>
