---
import { getHomePageData, getImageUrl } from "@common/client";
import { wgmDesignSystem as ds } from "@common/design-system";

import MainLayout from "@layouts/MainLayout.astro";

import RichTextContentBlock from "@ui/richTextContentBlock.astro";
import FeaturePanel from "@ui/FeaturePanel.astro";
import Hero from "@ui/Hero.astro";
import Heading from "@ui/primitives/Heading.astro";
import Text from "@ui/primitives/Text.astro";
import EmphasizedEllipsisText from "@ui/primitives/EmphasizedEllipsisText.astro";

const homePageData = await getHomePageData();

const heroImg = {
  url: getImageUrl(homePageData.heroImage.image).url(),
  alt: homePageData.heroImage.altText,
};

const logo = {
  url: getImageUrl(homePageData.org.logo.image).url(),
  alt: homePageData.org.logo.altText,
};

const coreValuesBgColors = [
  "bg-sky-700",
  "bg-sky-600",
  "bg-sky-500",
  "bg-sky-400",
  "bg-sky-300",
];
---

<MainLayout>
  <Hero imageUrl={heroImg.url}>
    <div class="p-4 flex justify-center items-center flex-col h-full">
      <div class="">
        <img class="h-24 lg:h-32" src={logo.url} alt={homePageData?.org.name} />
        <div class:list={[""]}>
          <span
            class:list={[
              "text-white font-serif italic lowercase",
              "text-lg",
              `before:content-["..."]`,
              `block text-right`,
              "indent-20 -mt-3",
              "lg:indent-32",
            ]}>{homePageData?.org.slogan}</span
          >
        </div>
      </div>
    </div>
  </Hero>
  <section class="mx-auto pb-6 mt-2 mb-6">
    <div class="mx-auto py-4 text-center lg:py-6">
      <Heading as="h2" size="xl3">
        <EmphasizedEllipsisText text="Our Mission" />
      </Heading>
    </div>

    <RichTextContentBlock
      class:list={[
        "px-4 mx-auto max-w-4xl",
        "first:prose-p:text-lg",
        "font-serif text-center",
      ]}
      portableText={homePageData?.org.mission}
    />
  </section>

  <section>
    <div class="bg-gradient-to-r from-sky-700 from-50% to-sky-400 to-50%">
      <div class="mx-auto py-4 text-center bg-sky-800">
        <Heading colorSchemeVariant="contrast" as="h2" size="xl3">
          <EmphasizedEllipsisText text="Our Values" />
        </Heading>
      </div>
      <div class="mx-auto sm:grid sm:grid-cols-2 xl:grid-cols-4 xl:container">
        {
          homePageData.org.coreValues.map((coreValue, i) => (
            <div
              class:list={[
                "flex",
                "flex-1",
                "text-slate-50",
                "p-8",
                coreValuesBgColors[i],
              ]}
            >
              <div class="text-center mb-2">
                <Heading
                  as="h3"
                  size="xl2"
                  colorScheme="primary"
                  colorSchemeVariant="contrast"
                  class:list={["mb-3 font-medium"]}
                >
                  {coreValue.title}
                </Heading>
                <p class="font-light font-serif italic leading-loose mb-3" />
                <Text colorScheme="primary" colorSchemeVariant="contrast">
                  {coreValue.description}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  {
    homePageData?.featurePanels.map((featuredContent, i) => (
      <FeaturePanel featuredContent={featuredContent} indexInCollection={i} />
    ))
  }
</MainLayout>
