---
import type { ResourcePageLink } from "@model/featuredContent";

import { getHomePageData, getImageUrl } from "@common/client";

import MainLayout from "@layouts/MainLayout.astro";

import RichTextContentBlock from "@ui/richTextContentBlock.astro";
import FeaturePanel from "@ui/FeaturePanel.astro";
import Hero from "@ui/Hero.astro";

import { cvaSchemaStandardVariants } from "@common/cva";

const homePageData = await getHomePageData();

const heroImg = {
  url: getImageUrl(homePageData.heroImage.image).url(),
  alt: homePageData.heroImage.altText,
};

const logo = {
  url: getImageUrl(homePageData.org.logo.image).url(),
  alt: homePageData.org.logo.altText,
};

function getRoute(pageLink: ResourcePageLink): string {
  const slugParts = [pageLink.type, pageLink.category, pageLink.population]
    .filter((part) => Boolean(part))
    .join("/");

  return `/${slugParts}`;
}

const coreValuesBgColors = [
  "bg-sky-700",
  "bg-sky-600",
  "bg-sky-500",
  "bg-sky-400",
  "bg-sky-300",
];
---

<MainLayout>
  <Hero imageUrl={heroImg.url}>
    <div class="w-3/4 mx-auto relative py-1">
      <img class="w-96" src={logo.url} alt={homePageData?.org.name} />
      <span
        class:list={[
          "pl-3",
          "font-serif",
          "italic",
          "text-lg",
          "text-white",
          "lowercase",
          `before:content-["..."]`,
          "absolute",
          "left-32",
          "bottom-0",
        ]}>{homePageData?.org.slogan}</span
      >
    </div>
  </Hero>
  <section>
    <h2
      class="text-4xl text-center font-serif lowercase ellipsis text-blue-900 font-light mt-5 mb-8 after:content-['...']"
    >
      Our <span class="font-semibold">Mission</span>
    </h2>
    <div
      class="max-w-prose mb-12 m-auto prose font-serif text-blue-900 first:prose-p:text-xl text-center"
    >
      <RichTextContentBlock portableText={homePageData?.org.mission} />
    </div>
  </section>

  <section>
    <div class="bg-sky-800 py-3">
      <h2
        class="text-4xl text-center font-serif lowercase ellipsis text-white font-light after:content-['...']"
      >
        Our <span class="font-semibold">Values</span>
      </h2>
    </div>

    <div class="bg-gradient-to-r from-sky-700 from-50% to-sky-400 to-50%">
      <div class="flex container mx-auto">
        {
          homePageData.org.coreValues.map((coreValue, i) => (
            <div
              class:list={[
                "flex",
                "flex-1",
                "text-slate-50",
                "py-8",
                "px-8",
                coreValuesBgColors[i],
              ]}
            >
              <div>
                <h3 class="font-bold text-xl mb-3">{coreValue.title}</h3>
                <p class="font-light">{coreValue.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  {
    homePageData?.featurePanels.map((featuredContent, i) => (
      <FeaturePanel
        featuredContent={featuredContent}
        variant={
          cvaSchemaStandardVariants[i % cvaSchemaStandardVariants.length]
        }
      />
    ))
  }
</MainLayout>

<style>
  .bg-split {
    background: linear-gradient();
  }
</style>
