---
import type { ResourcePageLink } from "@model/featuredContent";

import { getHomePageData, getImageUrl } from "@common/client";
import { wgmDesignSystem as ds } from "@common/design-system";

import MainLayout from "@layouts/MainLayout.astro";

import RichTextContentBlock from "@ui/richTextContentBlock.astro";
import FeaturePanel from "@ui/FeaturePanel.astro";
import Hero from "@ui/Hero.astro";
import LowerEmTitle from "@ui/primitives/LowerEmTitle.astro";

const homePageData = await getHomePageData();

const heroImg = {
  url: getImageUrl(homePageData.heroImage.image).url(),
  alt: homePageData.heroImage.altText,
};

const logo = {
  url: getImageUrl(homePageData.org.logo.image).url(),
  alt: homePageData.org.logo.altText,
};

const coreValuesBgColors = [
  "bg-sky-700",
  "bg-sky-600",
  "bg-sky-500",
  "bg-sky-400",
  "bg-sky-300",
];
---

<MainLayout>
  <Hero imageUrl={heroImg.url}>
    <div class="p-4 flex justify-center items-center flex-col h-full">
      <div class="">
        <img src={logo.url} alt={homePageData?.org.name} />
        <div class:list={["sm:pl-12"]}>
          <span
            class:list={[
              "text-white font-serif italic lowercase",
              "text-lg",
              `before:content-["..."]`,
            ]}>{homePageData?.org.slogan}</span
          >
        </div>
      </div>
    </div>
  </Hero>
  <section class="max-w-prose mx-auto pb-6 mt-3 mb-6">
    <LowerEmTitle
      as="h2"
      title="Our Mission"
      class:list={["py-4", "text-center"]}
    />
    <RichTextContentBlock
      class:list={["px-4", "first:prose-p:text-lg", "font-serif text-center"]}
      portableText={homePageData?.org.mission}
    />
  </section>

  <section>
    <LowerEmTitle
      as="h2"
      title="Our Values"
      class:list={[
        "py-4",
        "text-center",
        ds.background.color?.primary.default,
        ds.typography.color?.primary.contrast,
      ]}
    />
    <div class="bg-gradient-to-r from-sky-700 from-50% to-sky-400 to-50%">
      <div class="flex flex-col">
        {
          homePageData.org.coreValues.map((coreValue, i) => (
            <div
              class:list={[
                "flex",
                "flex-1",
                "text-slate-50",
                "p-8",
                coreValuesBgColors[i],
              ]}
            >
              <div class="text-center">
                <h3
                  class:list={[
                    "mb-4",
                    "text-3xl font-thin font-serif italic",
                    "first-letter:font-normal first-letter:text-4xl",
                  ]}
                >
                  {coreValue.title}
                </h3>
                <p class="font-light font-serif italic leading-loose mb-3">
                  {coreValue.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  {
    homePageData?.featurePanels.map((featuredContent, i) => (
      <FeaturePanel featuredContent={featuredContent} indexInCollection={i} />
    ))
  }
</MainLayout>
