---
import { getEntry } from "astro:content";

import Shell from "@ui/layouts/Shell.astro";
import HeroSection from "@ui/composites/HeroSection.astro";
import { getImageUrlBuilder } from "@sanity-integration/sanity-image-builder";
import { getOrganization } from "@content/loaders/organizationLoader";
import ContentBlockRenderer from "@ui/orchestrators/ContentBlockRenderer.astro";

const org = await getOrganization();
if (!org) {
  throw new Error('Failed to [getOrganization] for "src/pages/index.astro"');
}

const homePageEntry = await getEntry("contentGroups", "home");
if (!homePageEntry) {
  throw new Error('Could not get content entry: ["contentGroups", "home"]');
}

if (!homePageEntry.data.image) {
  throw new Error("Essential content missing: [homePageEntry.data.image]");
}

const heroImgUrl = getImageUrlBuilder(homePageEntry.data.image?.image).url();

const logoUrl = org.logos.onDark
  ? getImageUrlBuilder(org.logos.onDark).url()
  : null;
---

<Shell>
  <HeroSection imageUrl={heroImgUrl}>
    {/* Need to sr-only the header if we have the logo */}
    <h1>{org.name}</h1>
    {logoUrl && <img src={logoUrl} alt={`${org.name} logo`} />}
    <p>{org.slogan}</p>
  </HeroSection>
  {
    homePageEntry.data.contentBlocks.map((block) => (
      <section>
        <ContentBlockRenderer contentBlockRef={block} />
      </section>
    ))
  }
</Shell>
