---
import type { PageLinks } from "@content/model/contentBlock";
import DynamicPageLink from "./DynamicPageLink.astro";

interface Props {
  emphasized?: boolean;
  links: PageLinks["links"];
}

const props = Astro.props;
---

<div class:list={"flex flex-wrap gap-3 justify-center"}>
  {
    props.links.map((link) => {
      switch (link.contentType) {
        case "categoryPageLink":
          return (
            <DynamicPageLink
              emphasized={props.emphasized}
              linkType={link.contentType}
              label={link.label}
              categoryRef={link.category}
            />
          );
        case "resourcePageLink":
          return (
            <DynamicPageLink
              emphasized={props.emphasized}
              linkType={link.contentType}
              label={link.label}
              categoryRef={link.category}
              populationRef={link.population ?? undefined}
              resourceTypes={link.resourceTypes ?? undefined}
            />
          );
        case "relativeLink":
          return;
        default:
          const _exhaustiveCheck: never = link;
          throw new Error(
            `[PageLinkRenderer] Unknown content type in data entry: \n${link}`
          );
      }
    })
  }
</div>
