---
import type { OnSurfaceColorVariant } from "@styles/utils/color";
import type { TextPreset } from "@styles/utils/typography";

import Link from "@ui/base/Link.astro";
import { buildNavItemHref, type ResolvedNavItem } from "@ui/utils/nav-item";

interface Props {
  navItem: ResolvedNavItem;
  variant?: TextPreset;
  colorVariant?: OnSurfaceColorVariant;
  class?: string;
}

const {
  navItem,
  variant = "body-2",
  colorVariant = "warmNeutral",
  class: className,
} = Astro.props;

const href = buildNavItemHref(navItem);
const label = navItem.label ?? navItem.entryPoint?.title ?? "(untitled)";
---

{
  className ? (
    <span class={className}>
      <Link
        to={href}
        label={label}
        variant={variant}
        colorVariant={colorVariant}
      />
    </span>
  ) : (
    <Link
      to={href}
      label={label}
      variant={variant}
      colorVariant={colorVariant}
    />
  )
}
